<% content_for :header do %>

<% end %>

<% content_for :content do %>
<div class="row">
  <div class="col-md-12">
    <!--begin::Portlet-->
    <div class="m-portlet">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <span class="m-portlet__head-icon">
              <i class="la la-thumb-tack m--font-success"></i>
            </span>
            <h3 class="m-portlet__head-text m--font-success">
              Portlet Action Buttons
            </h3>
          </div>
        </div>
        <div class="m-portlet__head-tools">
          <ul class="m-portlet__nav">
            <li class="m-portlet__nav-item">
              <a href="#" class="m-portlet__nav-link btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill">
                <i class="la la-tint"></i>
              </a>
            </li>
            <li class="m-portlet__nav-item">
              <a href="#" class="m-portlet__nav-link btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill">
                <i class="la la-tags"></i>
              </a>
            </li>
            <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover">
              <a href="#" class="m-portlet__nav-link btn btn-secondary  m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill   m-dropdown__toggle">
                <i class="la la-ellipsis-v"></i>
              </a>
              <div class="m-dropdown__wrapper">
                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                <div class="m-dropdown__inner">
                  <div class="m-dropdown__body">
                    <div class="m-dropdown__content">
                      <ul class="m-nav">
                        <li class="m-nav__section m-nav__section--first">
                          <span class="m-nav__section-text">Quick Actions</span>
                        </li>
                        <li class="m-nav__item">
                          <a href="" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-share"></i>
                            <span class="m-nav__link-text">Activity</span>
                          </a>
                        </li>
                        <li class="m-nav__item">
                          <a href="" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                            <span class="m-nav__link-text">Messages</span>
                          </a>
                        </li>
                        <li class="m-nav__item">
                          <a href="" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-info"></i>
                            <span class="m-nav__link-text">FAQ</span>
                          </a>
                        </li>
                        <li class="m-nav__item">
                          <a href="" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                            <span class="m-nav__link-text">Support</span>
                          </a>
                        </li>
                        <li class="m-nav__separator m-nav__separator--fit">
                        </li>
                        <li class="m-nav__item">
                          <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">Cancel</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="m-portlet__body" id="editor_app">
      </div>
    </div>
    <!--end::Portlet-->
  </div>
</div>
<div id="m_quick_sidebar_toggle">
</div>

<% end %>


<% content_for :sidebar do %>
<!-- begin::Quick Sidebar -->
<div id="m_quick_sidebar" class="m-quick-sidebar m-quick-sidebar--tabbed">
  <div class="row">
    <div class="col-md-3" id="sidebar_tools">
      <div id="sidebar_tools_inner" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="m-nav-grid">
          <div class="m-nav-grid__row">
            <a href="#" class="m-nav-grid__item">
              <i class="m-nav-grid__icon flaticon-file"></i>
              <span class="m-nav-grid__text">Generate Report</span>
            </a>
            <a href="#" class="m-nav-grid__item">
              <i class="m-nav-grid__icon flaticon-time"></i>
              <span class="m-nav-grid__text">New Event</span>
            </a>
          </div>
          <div class="m-nav-grid__row">
            <a href="#" class="m-nav-grid__item">
              <i class="m-nav-grid__icon flaticon-folder"></i>
              <span class="m-nav-grid__text">Create New Task</span>
            </a>
            <a href="#" class="m-nav-grid__item">
              <i class="m-nav-grid__icon flaticon-clipboard"></i>
              <span class="m-nav-grid__text">Completed Tasks</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9" id="sidebar_body">
    </div>
  </div>
</div>
<% end %>

<% content_for :footer do %>
<script src="/assets/vendors/custom/leader-line.min.js"></script>
<%= javascript_pack_tag 'application' %>
<% end %>